/* CORE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}
:root {
  --siteMaxWidth: 1200px;
  --sitePadding: 2rem;
  --headerHeight: 6rem;

  --font-core: "Atkinson", sans-serif;

  --clrRed: oklch(0.5732 0.2162 26.18);
  --clrRedBright: oklch(0.6145 0.2262 26.91);
  --clrRedDark: oklch(0.4288 0.1455 18.92);

  --clrBlueInvert: oklch(0.4826 0.0916 272.64);
  --clrBlueDark: oklch(0.2231 0.0424 261.65);

  --clrBlack: oklch(0.1659 0.0312 265.24);
}
html {
  font-family: var(--font-core);
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
}
nav a {
  text-decoration: none;
}
nav a.active {
}
main {
  width: 100%;
  max-width: var(--siteMaxWidth);
  margin: 0 auto;
  padding: var(--sitePadding);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent); /* TODO: Create a var */
}
a:hover {
  color: var(--accent); /* TODO: Create a var */
}
p {
  margin-bottom: 1em;
}
table {
  width: 100%;
}
img {
  display: block;
  max-width: 100%;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light)); /* TODO: Create a var */
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent); /* TODO: Create a var */
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light)); /* TODO: Create a var */
}
/**/
/* UTILITIES */
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
.hero-image {
  width: 100%;
}
.hero-image img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}
.prose {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
  color: rgb(var(--gray-dark));
}
.prose p {
  margin-bottom: 2em;
}
.last-updated-on {
  font-style: italic;
}
/**/
/* ECHOES PAGE */
#echoes-list {
  list-style: none;
}
/**/
