---
import HeaderLink from '@/components/HeaderLink.astro';
---

<header>
	<nav>
		<ul>
			<li>
				<HeaderLink href="/" aria-label="Home">LOGO</HeaderLink>
			</li>
			<li>
				<HeaderLink href="/echoes">Echoes</HeaderLink>
			</li>
		</ul>
	</nav>
</header>

