---
import HeaderLink from "@/components/HeaderLink.astro";

type Props = {
  currentTitle?: string;
  currentHref?: string;
};

const { currentTitle } = Astro.props as Props;
---

<header id="nav-wrapper">
  <nav id="primary-nav">
    <ul>
      <li>
        <HeaderLink href="/" aria-label="Home">HOME</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/echoes">ECHOES</HeaderLink>
      </li>
      {
        currentTitle && (
          <Fragment>
            <li class="breadcrumb-sep" aria-hidden="true">
              /
            </li>
            <li class="breadcrumb-current">
              <span class="active" aria-current="page" title={currentTitle}>
                {currentTitle}
              </span>
            </li>
          </Fragment>
        )
      }
      <li class="toc-nav-btn">
        <label
          for="toc-toggle"
          class="toc-nav-toggle"
          aria-controls="toc"
          aria-expanded="false"
          aria-haspopup="dialog"
          aria-label="Open table of contents"
          role="button"
          tabindex="0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-table-of-contents-icon lucide-table-of-contents"
            aria-hidden="true"
            ><path d="M16 5H3"></path><path d="M16 12H3"></path><path d="M16 19H3"></path><path d="M21 5h.01"
            ></path><path d="M21 12h.01"></path><path d="M21 19h.01"></path></svg
          >
          <span class="sr-only">Contents</span>
        </label>
      </li>
    </ul>
  </nav>
</header>
