---
import { SITE_TITLE } from '@/consts';
import HeaderLink from '@/components/HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<ul>
			<li>
				<HeaderLink href="/">Home</HeaderLink>
			</li>
			<li>
				<HeaderLink href="/blog">Echo</HeaderLink>
			</li>
		</ul>
	</nav>
</header>

