---
import HeaderLink from "@/components/HeaderLink.astro";

type Props = {
  currentTitle?: string;
  currentHref?: string;
};

const { currentTitle } = Astro.props as Props;
const isEchoesPost = /^\/echoes\/.+/.test(Astro.url.pathname);
---

<header id="site-header">
  <div class="gutter" aria-hidden="true"></div>
  <nav id="site-nav">
    <div class="nhs" aria-hidden="true"></div>
    <ul>
      <li>
        <HeaderLink href="/">HOME</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/echoes">ECHOES</HeaderLink>
      </li>
      {
        currentTitle && (
          <Fragment>
            <li class="breadcrumb-sep" aria-hidden="true">
              /
            </li>
            <li class="breadcrumb-current">
              <span class="active" aria-current="page">
                {currentTitle}
              </span>
            </li>
          </Fragment>
        )
      }
      {
        isEchoesPost && (
          <li class="toc-nav-btn">
            <label for="toc-toggle" class="toc-nav-toggle" aria-controls="toc" aria-expanded="false" role="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-table-of-contents-icon lucide-table-of-contents"
                aria-hidden="true">
                <>
                  <path d="M16 5H3" />
                  <path d="M16 12H3" />
                  <path d="M16 19H3" />
                  <path d="M21 5h.01" />
                  <path d="M21 12h.01" />
                  <path d="M21 19h.01" />
                </>
              </svg>
              <span class="sr-only">Contents</span>
            </label>
          </li>
        )
      }
    </ul>
    <div class="nhs" aria-hidden="true"></div>
  </nav>
  <div class="gutter" aria-hidden="true"></div>
</header>
